.formLogin {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 1rem;
  align-items: center;
}

.formBtnSection {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.handleForm {
  margin-top: 10px;
  color: blue;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .handleForm {
    margin-top: 1rem;
  }
}
