.btnPrimary {
  background: none;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  margin: 0rem 0.5rem;
  color: white;
}
.btnPrimary:hover {
  transition: 0.5s;
  background-color: white;
  color: black !important;
}

.btnSecondary {
  background: black;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  color: white;
  max-width: 7rem;
}
.btnSecondary:hover {
  transition: 0.5s;
  background-color: white;
  color: black !important;
  border: 1px black solid;
}

.btnDetails {
  cursor: pointer;
  padding: 3px 10px;
  background-color: none;
  border: 1px black solid;
  border-radius: 5px;
  margin-left: 2px;
}
.btnDetails:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.btnAlert {
  background: red;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  color: white;
  max-width: 7rem;
}
.btnAlert:hover {
  transition: 0.5s;
  background-color: white;
  color: red !important;
  border: 1px red solid;
}
@media (max-width: 700px) {
  .btnPrimary {
    margin-bottom: 0.5rem;
  }
}
